/* Default Light Theme */
:root {
    --bg: linear-gradient(155deg, #10b2db, #406cb8,rgb(227, 97, 188));
    --text: #ffffff;
    --screen-bg: #ffffff;
    --btn-bg: rgba(255, 255, 255, 0.2);
    --btn-hover: rgba(255, 255, 255, 0.35);
    --op-bg: rgba(213, 13, 210, 0.7);
    --equal-bg: #00c853;
    --clear-bg: #e844a9;
}

/* Dark Theme Colors */
.dark {
    --bg: linear-gradient(135deg, #0f0f0f, #232323);
    --text: #ffffff;
    --screen-bg: #333;
    --btn-bg: rgba(255, 255, 255, 0.1);
    --btn-hover: rgba(255, 255, 255, 0.25);
    --op-bg: #e121b7;
    --equal-bg: #4caf50;
    --clear-bg: #bb138e;
}

/* Whole Page */
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: var(--text);
    transition: 0.4s;
}

/* Heading */
.title {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(155deg, #ff09ce, #6c5df0, rgb(251, 1, 176));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Theme Button */
#themeBtn {
    padding: 10px 20px;
    background: #fff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
    transition: 0.3s;
}
#themeBtn:hover {
    transform: scale(1.1);
}

/* Calculator Box */
.calculator {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(12px);
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Display Screen */
#display {
    width: 100%;
    height: 60px;
    background: var(--screen-bg);
    color: rgb(255, 5, 147);
    font-size: 28px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    margin-bottom: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Buttons Layout */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Buttons */
button {
    padding: 18px;
    font-size: 20px;
    background: var(--btn-bg);
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background: var(--btn-hover);
    transform: scale(1.05);
}

/* Operators */
.op {
    background: var(--op-bg);
}

/* Equal Button */
.equal {
    background: var(--equal-bg);
    font-weight: bold;
}

/* Clear Button */
.clear {
    grid-column: span 4;
    background: var(--clear-bg);
    font-size: 22px;
}
